/* navbar */

.navbar-brand {
    position: relative;
}

#logo {
    width: 50px;
}

#moviestar-title {
    color: #FFF;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
}

#main-navbar {
    color: #FFF;
    transition: .5s;
    background-color: #121212;
}

#search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
    display: flex;
}

#search-form .form-control {
    border: none;
    box-shadow: none;
    width: 100%;
}

#navbar {
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    color: #FFF;
    transition: .5s;
}

.nav-link:hover {
    color: #999;
}

.bold {
    font-weight: bold;
}

/* MSG CONTAINER */
.msg-container {
    background-color: #000;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

.msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

/* HOME */
#main-container {
    background-color: #000;
    color: #FFF;
    min-height: 65vh;
    padding: 40px;
}

/* LOGIN / REGISTER */
#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #F5C518;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

#login-container .card-btn,
#register-container .card-btn,
.btn.card-btn {
    color: #000;
    background-color: #F5C518;
    border: 2px solid #F5C518;
    width: 100%;
    transition: .5s;
}

#login-container .card-btn:hover,
#register-container .card-btn:hover,
.btn.card-btn:hover {
    background-color: transparent;
    color: #F5C518;
    border-color: #F5C518;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
}

/* EDIT PROFILE */
#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #F5C518;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

.page-description {
    color: #999;
}

#bio {
    max-width: 400px;
}

.form-control.disabled {
    background-color: #AAA;
}

/* NEW MOVIE */
.new-movie-container {
    text-align: center;
}

#add-movie-form {
    text-align: left;
}

.movie-mage-container {
    height: 400px;
    min-width: 400px;
    background-position: center;
    background-size: cover;
}

.page-title:after {
    content: "";
    width: 300px;
    border-bottom: 2px solid #F5C518;
    display: block;
    margin: 0 auto;
    padding-top: 7px;
}

/* FOOTER */
#footer {
    background-color: #121212;
    color: #FFF;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#social-container ul,
#footer-links-container ul {
    list-style: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #333;
}

#social-container a,
#footer-links-container a {
    color: #FFF;
    transition: .5s;
    text-decoration: none;
}

#footer-links-container a:hover {
    text-decoration: underline;
}

#social-container li i {
    font-size: 25px;
}

#footer-links-container {
    margin: 30px 0;
}

#copyright {
    text-decoration: none;
    color: #FFF;
    transition: .5s;
}

#copyright:hover {
    text-decoration: underline;
}