/* navbar */

.navbar-brand {
    position: relative;
}

#logo {
    width: 50px;
}

#moviestar-title {
    color: #FFF;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
}

#main-navbar {
    color: #FFF;
    transition: .5s;
    background-color: #121212;
}

#search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
    display: flex;
}

#search-form .form-control {
    border: none;
    box-shadow: none;
    width: 100%;
}

#navbar {
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    color: #FFF;
    transition: .5s;
}

.nav-link:hover {
    color: #999;
}

.bold {
    font-weight: bold;
}

/* MSG CONTAINER */
.msg-container {
    background-color: #000;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

.msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

/* HOME */
#main-container {
    background-color: #000;
    color: #FFF;
    min-height: 65vh;
    padding: 40px;
}

.section-title {
    font-size: 24px;
    border-left: 4px solid #F5C518;
    padding-left: 12px;
    margin-top: 20px;
}

.section-description {
    color: #CCC;
    font-size: 18px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.movies-card {
    background-color: #1A1A1A;
    width: 18%;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.movies-card .card-img-top {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-title {
    height: 3rem;

}

.card-title a {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.fas.fa-star {
    color: #F5C518;
}

.rating {
    color: #CCC;
}

.rate-btn {
    margin-bottom: 15px;
    color: #5799Ef;
    background-color: #333;
    border-color: #333;
    width: 100%;
    font-weight: bold;
}

.btn.rate-btn:hover {
    background-color: #444;
    border-color: #444;
    color: #5799Ef;
}

.empty-list {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

/* LOGIN / REGISTER */
#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #F5C518;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

#login-container .card-btn,
#register-container .card-btn,
.btn.card-btn {
    color: #000;
    background-color: #F5C518;
    border: 2px solid #F5C518;
    width: 100%;
    transition: .5s;
}

#login-container .card-btn:hover,
#register-container .card-btn:hover,
.btn.card-btn:hover {
    background-color: transparent;
    color: #F5C518;
    border-color: #F5C518;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
}

/* EDIT PROFILE */
#profile-image-container,
.profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #F5C518;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

.profile-image-container {
    width: 75px;
    height: 75px;
}

.page-description {
    color: #999;
}

#bio {
    max-width: 400px;
}

.form-control.disabled {
    background-color: #AAA;
}

#change-password-container {
    margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-movie-container .card-btn,
#review-form  .card-btn {
    width: auto;
}

/* INDIVIDUAL MOVIE */
.movie-container {
    text-align: center;
}

.movie-details {
    margin: 25px 0;
}

.pipe {
    border: 1px solid  #333;
    margin: 0 10px;
}

#revies-title {
    margin-bottom: 25px;
}

#review-form-container {
    background-color: #333;
    padding: 20px;
}

#review-form-container select,
#review-form-container textarea {
    width: 50%;
}

#reviews-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 4px solid #F5C518;
}

.review {
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.author-details-container {
    padding-top: 20px;
}

.author-name a {
    color: #F5C518;
    text-decoration: none;
}

.comment-title {
    color: #999;
}

.movie-image-container {
    width: 325px;
    height: 480px;
}

/* PROFILE USER*/

.profile-container {
    justify-content: center;
}

.profile-container profile-image {
    margin: 20px auto;
}

.about-tile {
    color: #CCC;
}

.profile-description {
    max-width: 500px;
    margin: 20px auto;
}

.added-movies-container,
.about-container {
    padding-top: 20px;
}

.about-container {
    text-align: center;
    background-color: #333;
    border-bottom: 3px solid #CCC;
}

.added-movies-container {
    background-color: #333;
}

.added-movies-container .movies-container {
    padding: 20px;
}

.added-movies-container .movie-card {
    width: 31%;
}

/* NEW MOVIE */
.new-movie-container {
    text-align: center;
}

#add-movie-form {
    text-align: left;
}

.movie-mage-container {
    height: 400px;
    min-width: 400px;
    background-position: center;
    background-size: cover;
}

.page-title:after {
    content: "";
    width: 300px;
    border-bottom: 2px solid #F5C518;
    display: block;
    margin: 0 auto;
    padding-top: 7px;
}

/* DASHBOARD */
#add-movie-container {
    text-align: right;
}

#movies-dashboard .table {
    color: #FFF;
}

#movies-dashboard .table th {
    border-top: none;
}

#movies-dashboard .table tr {
    padding: 15px 0;
}

.table-movie-title {
    color: #FFF;
    font-weight: bold;
    transition: .5s;
    text-decoration: none;
}

.table-movie-title:hover {
    color: #F5C518;
}

.actions-column {
    max-width: 80px;
    text-align: center;
}

.actions-colum  {
    max-width: 80px;
    text-align: center;
}

.actions-colum form {
    display: inline-block;
}

tbody td {
    border-bottom: none
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: .5s;
    border: none;
    display: inline-block;
}

.edit-btn {
    background-color: #0DCAF0;
    color: #FFF;
    text-decoration: none;
}

.edit-btn:hover {
    background-color: transparent;
    color: #0DCAF0;
}

.delete-btn {
    background-color: #DC3545;
    color: #FFF;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: transparent;
    color: #DC3545;
}

/* SEARCH */
#search-title {
    font-size: 40px;
}

#search-result,
.back-link {
    color: #F5C518;
    text-decoration: none;
}

/* FOOTER */
#footer {
    background-color: #121212;
    color: #FFF;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#social-container ul,
#footer-links-container ul {
    list-style: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #333;
}

#social-container a,
#footer-links-container a {
    color: #FFF;
    transition: .5s;
    text-decoration: none;
}

#footer-links-container a:hover {
    text-decoration: underline;
}

#social-container li i {
    font-size: 25px;
}

#footer-links-container {
    margin: 30px 0;
}

#copyright {
    text-decoration: none;
    color: #FFF;
    transition: .5s;
}

#copyright:hover {
    text-decoration: underline;
}